.photo-control{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f8f9fa;
  border: 2px dashed #0d6efd !important;
}
.btn-group {
  width: auto !important;
}
.btn-group label {
  border-radius: 50px !important;
  font-size: 14px;
  min-width: 70px;
  border: 2px solid #0d6efd;
}
